/* rarities */
.common,.common:hover { font-weight: bold; color: #666666; }
.uncommon,.uncommon:hover { font-weight: bold; color: #006600; }
.rare,.rare:hover { font-weight: bold; color: #888800; }
.legendary,.legendary:hover { font-weight: bold; color: #990099; }
a.common, a.uncommon, a.rare, a.legendary { text-decoration: none; }
a.common:hover, a.uncommon:hover, a.rare:hover, a.legendary:hover { text-decoration: underline; }
/* image sizes in list cards */
.logocard,.logopower { background-size: cover; background-position: center center; }
.logopower { width: 80px; height: 126px; }
.logocard { width: 80px; height: 133px; }
